/*webkit-sassui-moveup Start*/
.webkit-sassui-moveup {
  /* prettier-ignore */
  /* prettier-ignore-end */
  transition: all 0.4s;
  position: absolute;
}

.webkit-sassui-moveup:hover {
  transform: translateY(-5px);
}

/*webkit-sassui-moveup End*/
html,
body {
  height: 100%;
}

body {
  background: url(https://img.alicdn.com/tps/TB1h9xxIFXXXXbKXXXXXXXXXXXX.jpg) no-repeat;
  background-size: cover;
}

.webkit-sassui-moveup {
  border: 1px solid red;
  width: 400px;
  height: 400px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.webkit-sassui-moveup img {
  width: 100%;
  height: 100%;
}
