/*wsui-moveup Start*/
$wsui-moveup-options: (
  duration: 0.4s,
  translate-y: -5px
) !default;

.wsui-moveup {
  /* prettier-ignore */
  $duration: map-get( $map: $wsui-moveup-options, $key: duration );
  $translate-y: map-get( $map: $wsui-moveup-options, $key: translate-y );
  /* prettier-ignore-end */
  transition: all $duration;
  position: absolute;
  &:hover {
    transform: translateY($translate-y);
  }
}
/*wsui-moveup End*/
